voltronic-cli/bin/skymax.bak
voltronic-cli/bin/skymax
voltronic-cli/test/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
.DS_Store
.vscode/settings.json
sources/inverter-cli/ha_local_docker_build_v2.diff
sources/inverter-cli/inverter_poller
sources/inverter-cli/libcJSON.a
build
.vscode
